<div class="row">
  <div class="card mr-2" *ngFor="let game of games" (click)="showGame(game)">
    <h6>{{ game.name }}</h6>
    <div class="img-container">
      <img [src]="game.imageUrl" alt="">
    </div>
  </div>
</div>
