<div class="row">
  <div class="col-3 p-4">
    <h3>Games by platform</h3>
    <ul>
      <li *ngFor="let platform of platforms">
        <a class="list-group-item list-group-item-active"
           [routerLink]="['/platform', platform]">{{ platform }}
        </a>
      </li>
    </ul>
  </div>
  <div class="col-9 p-4">
    <router-outlet></router-outlet>
  </div>
</div>
