<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Games</a>
  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/platform" class="nav-link">Games by platforms</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/create" class="nav-link">Create game</a>
      </li>
    </ul>
  </div>
</nav>
