<div class="container">
  <h3>Create new game</h3>
  <form (ngSubmit)="addGame()" class="p-4">
    <p>
      <label for="gameName">Enter game name:</label> <input id="gameName" type="text" [(ngModel)]="name" name="name">
    </p>
    <p>
      <label for="gameImg">Enter img URL:</label> <input id="gameImg" type="text" [(ngModel)]="imageUrl"
                                                         name="imageUrl">
    </p>
    <p>
      <label for="gamePlatform">Select game platform:</label>
      <select id="gamePlatform" [(ngModel)]="platform" name="platform">
        <option *ngFor="let platform of platforms">{{ platform }}</option>
      </select>
    </p>
    <p>
      <label for="gameDescription">Enter game description: <textarea id="gameDescription"
                                                                     [(ngModel)]="description"
                                                                     name="description"></textarea></label>
    </p>
    <button type="submit" class="btn btn-primary" [disabled]="!name || !imageUrl || !platform || !description">Add
      game
    </button>
  </form>
</div>
