<div class="row">
  <div class="col-4 p-1 mr-auto ml-auto">
    <div class="card p-4">
      <p class="text-center">
        <img [src]="game.imageUrl" alt="">
      </p>
      <p>
        <strong>Game name:</strong><span>{{ game.name }}</span>
      </p>
      <p>
        <strong>Game platform: </strong><span>{{ game.platform }}</span>
      </p>
      <p>
        <strong>Game description:</strong>
        {{ game.description }}
      </p>
    </div>
  </div>
</div>
