<h2 class="text-center pt-3">All Games</h2>
<div class="row p-5">
  <div class=" card border border-danger mr-2" *ngFor="let game of games" (click)="showGame(game)" routerLink="/game">
    <h6>{{ game.name }}</h6>
    <div class="img-container">
      <img [src]="game.imageUrl" alt="">
    </div>
  </div>
</div>

